In [83]:
import pandas as pd 
import numpy as np

# Introduction to Jupyter

In [84]:
# Run this cell, but please don't change it.

# These lines import the Numpy and Datascience modules.
import numpy as np

# These lines do some fancy plotting magic
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)
from matplotlib import patches
from ipywidgets import interact, interactive, fixed
import ipywidgets as widgets

In [85]:
city = pd.read_csv(r"/Users/lizidediannao/Desktop/Global/global-fa21-main/data/Table 3B.1_3.csv")

In [86]:
city

,City,2017,2018,2019,Percentage City Share to Total (2019),Actual Population (in Lakhs) (2011),Rate of Total Crime Against Women\n(2019)+
0,Ahmedabad\n(Gujarat),1405,1416,1633,3.6,30.0,54.4
1,Bengaluru\n(Karnataka),3565,3427,3486,7.7,40.6,85.9
2,Chennai\n(Tamil Nadu),642,761,729,1.6,43.1,16.9
3,Coimbatore\n(Tamil Nadu),76,107,85,0.2,10.7,7.9
4,Delhi,11542,11724,12902,28.4,75.8,170.3
5,Ghaziabad\n(Uttar Pradesh),1166,1128,793,1.7,11.0,72.0
6,Hyderabad\n(Telangana),2272,2332,2755,6.1,37.6,73.2
7,Indore\n(Madhya Pradesh),1349,1593,1755,3.9,10.4,169.1
8,Jaipur\n(Rajasthan),1857,2030,3417,7.5,14.5,235.0
9,Kanpur\n(Uttar Pradesh),1574,1574,1315,2.9,13.4,98.5
10,Kochi\n(Kerala),535,537,492,1.1,10.8,45.8
11,Kolkata\n(West Bengal),1975,2176,2176,4.8,67.9,32.0
12,Kozhikode\n(Kerala),347,349,473,1.0,10.6,44.4
13,Lucknow\n(Uttar Pradesh),2468,2736,2425,5.3,13.8,175.4
14,Mumbai\n(Maharashtra),5453,6058,6519,14.3,85.2,76.5
15,Nagpur\n(Maharashtra),1152,1083,1144,2.5,12.2,93.6
16,Patna\n(Bihar),870,956,981,2.2,9.6,102.3
17,Pune\n(Maharashtra),2032,1481,1390,3.1,23.9,58.1
18,Surat\n(Gujarat),559,712,1015,2.2,19.7,51.5

In [87]:
city.columns = ['City', '2017 Crimes', '2018 Crimes', '2019 Crimes',
               'Percentage City Share to Total (2019)', 
               'Actual Population (in Lakhs) (2011)',
               'Rate of Total Crime Against Women (2019)']

In [88]:
city

,City,2017 Crimes,2018 Crimes,2019 Crimes,Percentage City Share to Total (2019),Actual Population (in Lakhs) (2011),Rate of Total Crime Against Women (2019)
0,Ahmedabad\n(Gujarat),1405,1416,1633,3.6,30.0,54.4
1,Bengaluru\n(Karnataka),3565,3427,3486,7.7,40.6,85.9
2,Chennai\n(Tamil Nadu),642,761,729,1.6,43.1,16.9
3,Coimbatore\n(Tamil Nadu),76,107,85,0.2,10.7,7.9
4,Delhi,11542,11724,12902,28.4,75.8,170.3
5,Ghaziabad\n(Uttar Pradesh),1166,1128,793,1.7,11.0,72.0
6,Hyderabad\n(Telangana),2272,2332,2755,6.1,37.6,73.2
7,Indore\n(Madhya Pradesh),1349,1593,1755,3.9,10.4,169.1
8,Jaipur\n(Rajasthan),1857,2030,3417,7.5,14.5,235.0
9,Kanpur\n(Uttar Pradesh),1574,1574,1315,2.9,13.4,98.5
10,Kochi\n(Kerala),535,537,492,1.1,10.8,45.8
11,Kolkata\n(West Bengal),1975,2176,2176,4.8,67.9,32.0
12,Kozhikode\n(Kerala),347,349,473,1.0,10.6,44.4
13,Lucknow\n(Uttar Pradesh),2468,2736,2425,5.3,13.8,175.4
14,Mumbai\n(Maharashtra),5453,6058,6519,14.3,85.2,76.5
15,Nagpur\n(Maharashtra),1152,1083,1144,2.5,12.2,93.6
16,Patna\n(Bihar),870,956,981,2.2,9.6,102.3
17,Pune\n(Maharashtra),2032,1481,1390,3.1,23.9,58.1
18,Surat\n(Gujarat),559,712,1015,2.2,19.7,51.5

In [89]:
city['City']

0           Ahmedabad\n(Gujarat)
1         Bengaluru\n(Karnataka)
2          Chennai\n(Tamil Nadu)
3       Coimbatore\n(Tamil Nadu)
4                          Delhi
5     Ghaziabad\n(Uttar Pradesh)
6         Hyderabad\n(Telangana)
7       Indore\n(Madhya Pradesh)
8            Jaipur\n(Rajasthan)
9        Kanpur\n(Uttar Pradesh)
10               Kochi\n(Kerala)
11        Kolkata\n(West Bengal)
12           Kozhikode\n(Kerala)
13      Lucknow\n(Uttar Pradesh)
14         Mumbai\n(Maharashtra)
15         Nagpur\n(Maharashtra)
16                Patna\n(Bihar)
17           Pune\n(Maharashtra)
18              Surat\n(Gujarat)
Name: City, dtype: object

In [90]:
def replace (df): 
    new = []
    for text in df["City"]:
        new.append(text.split("\n", 1))
        
    return new

In [91]:
new_city = replace(city)
new_city

[['Ahmedabad', '(Gujarat)'],
 ['Bengaluru', '(Karnataka)'],
 ['Chennai', '(Tamil Nadu)'],
 ['Coimbatore', '(Tamil Nadu)'],
 ['Delhi'],
 ['Ghaziabad', '(Uttar Pradesh)'],
 ['Hyderabad', '(Telangana)'],
 ['Indore', '(Madhya Pradesh)'],
 ['Jaipur', '(Rajasthan)'],
 ['Kanpur', '(Uttar Pradesh)'],
 ['Kochi', '(Kerala)'],
 ['Kolkata', '(West Bengal)'],
 ['Kozhikode', '(Kerala)'],
 ['Lucknow', '(Uttar Pradesh)'],
 ['Mumbai', '(Maharashtra)'],
 ['Nagpur', '(Maharashtra)'],
 ['Patna', '(Bihar)'],
 ['Pune', '(Maharashtra)'],
 ['Surat', '(Gujarat)']]

In [92]:
new_city[4] = ['Delhi', 'NA']
new_city

[['Ahmedabad', '(Gujarat)'],
 ['Bengaluru', '(Karnataka)'],
 ['Chennai', '(Tamil Nadu)'],
 ['Coimbatore', '(Tamil Nadu)'],
 ['Delhi', 'NA'],
 ['Ghaziabad', '(Uttar Pradesh)'],
 ['Hyderabad', '(Telangana)'],
 ['Indore', '(Madhya Pradesh)'],
 ['Jaipur', '(Rajasthan)'],
 ['Kanpur', '(Uttar Pradesh)'],
 ['Kochi', '(Kerala)'],
 ['Kolkata', '(West Bengal)'],
 ['Kozhikode', '(Kerala)'],
 ['Lucknow', '(Uttar Pradesh)'],
 ['Mumbai', '(Maharashtra)'],
 ['Nagpur', '(Maharashtra)'],
 ['Patna', '(Bihar)'],
 ['Pune', '(Maharashtra)'],
 ['Surat', '(Gujarat)']]

In [93]:
city_1 = []
for i in np.arange(len(new_city)):
    city_1.append(new_city[i][0])
city_1

['Ahmedabad',
 'Bengaluru',
 'Chennai',
 'Coimbatore',
 'Delhi',
 'Ghaziabad',
 'Hyderabad',
 'Indore',
 'Jaipur',
 'Kanpur',
 'Kochi',
 'Kolkata',
 'Kozhikode',
 'Lucknow',
 'Mumbai',
 'Nagpur',
 'Patna',
 'Pune',
 'Surat']

In [94]:
city_2 = []
for i in np.arange(len(new_city)):
    text = new_city[i][1].replace('(','').replace(')','')
    city_2.append(text)
city_2

['Gujarat',
 'Karnataka',
 'Tamil Nadu',
 'Tamil Nadu',
 'NA',
 'Uttar Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Rajasthan',
 'Uttar Pradesh',
 'Kerala',
 'West Bengal',
 'Kerala',
 'Uttar Pradesh',
 'Maharashtra',
 'Maharashtra',
 'Bihar',
 'Maharashtra',
 'Gujarat']

# The Data

In [95]:
city["City"] = city_1
city.insert(loc = 1, column = "City 2", value = city_2)
city

,City,City 2,2017 Crimes,2018 Crimes,2019 Crimes,Percentage City Share to Total (2019),Actual Population (in Lakhs) (2011),Rate of Total Crime Against Women (2019)
0,Ahmedabad,Gujarat,1405,1416,1633,3.6,30.0,54.4
1,Bengaluru,Karnataka,3565,3427,3486,7.7,40.6,85.9
2,Chennai,Tamil Nadu,642,761,729,1.6,43.1,16.9
3,Coimbatore,Tamil Nadu,76,107,85,0.2,10.7,7.9
4,Delhi,NA,11542,11724,12902,28.4,75.8,170.3
5,Ghaziabad,Uttar Pradesh,1166,1128,793,1.7,11.0,72.0
6,Hyderabad,Telangana,2272,2332,2755,6.1,37.6,73.2
7,Indore,Madhya Pradesh,1349,1593,1755,3.9,10.4,169.1
8,Jaipur,Rajasthan,1857,2030,3417,7.5,14.5,235.0
9,Kanpur,Uttar Pradesh,1574,1574,1315,2.9,13.4,98.5
10,Kochi,Kerala,535,537,492,1.1,10.8,45.8
11,Kolkata,West Bengal,1975,2176,2176,4.8,67.9,32.0
12,Kozhikode,Kerala,347,349,473,1.0,10.6,44.4
13,Lucknow,Uttar Pradesh,2468,2736,2425,5.3,13.8,175.4
14,Mumbai,Maharashtra,5453,6058,6519,14.3,85.2,76.5
15,Nagpur,Maharashtra,1152,1083,1144,2.5,12.2,93.6
16,Patna,Bihar,870,956,981,2.2,9.6,102.3
17,Pune,Maharashtra,2032,1481,1390,3.1,23.9,58.1
18,Surat,Gujarat,559,712,1015,2.2,19.7,51.5