In [1]:
import pandas as pd 
import numpy as np 

import plotly.express as px

In [8]:
fifteen = pd.read_csv("violencia_intrafamiliar_2015.csv").dropna()
sixteen = pd.read_csv("violencia_intrafamiliar_2016.csv").dropna()
seventeen = pd.read_csv("violencia_intrafamiliar_2017.csv").dropna()
eighteen = pd.read_csv("violencia_intrafamiliar_2018.csv").dropna()
nineteen = pd.read_csv("violencia_intrafamiliar_2019.csv").dropna()
twenty = pd.read_csv("violencia_intrafamiliar_2020.csv").dropna()
twentyone = pd.read_csv("violencia_intrafamiliar_2021.csv").dropna()

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
fifteen.groupby?

Signature:
fifteen.groupby(
    by=None,
    axis: 'Axis' = 0,
    level: 'Level | None' = None,
    as_index: 'bool' = True,
    sort: 'bool' = True,
    group_keys: 'bool' = True,
    squeeze: 'bool | lib.NoDefault' = <no_default>,
    observed: 'bool' = False,
    dropna: 'bool' = True,
) -> 'DataFrameGroupBy'
Docstring:
Group DataFrame using a mapper or by a Series of columns.

A groupby operation involves some combination of splitting the
object, applying a function, and combining the results. This can be
used to group large amounts of data and compute operations on these
groups.

Parameters
----------
by : mapping, function, label, or list of labels
    Used to determine the groups for the groupby.
    If ``by`` is a function, it's called on each value of the object's
    index. If a dict or Series is passed, the Series or dict VALUES
    will be used to determine the groups (the Series' values are first
    aligned; see ``.align()`` method). If an ndarray is passed, the
    values are used as-is to determine the groups. A label or list of
    labels may be passed to group by the columns in ``self``. Notice
    that a tuple is interpreted as a (single) key.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Split along rows (0) or columns (1).
level : int, level name, or sequence of such, default None
    If the axis is a MultiIndex (hierarchical), group by a particular
    level or levels.
as_index : bool, default True
    For aggregated output, return object with group labels as the
    index. Only relevant for DataFrame input. as_index=False is
    effectively "SQL-style" grouped output.
sort : bool, default True
    Sort group keys. Get better performance by turning this off.
    Note this does not influence the order of observations within each
    group. Groupby preserves the order of rows within each group.
group_keys : bool, default True
    When calling apply, add group keys to index to identify pieces.
squeeze : bool, default False
    Reduce the dimensionality of the return type if possible,
    otherwise return a consistent type.

    .. deprecated:: 1.1.0

observed : bool, default False
    This only applies if any of the groupers are Categoricals.
    If True: only show observed values for categorical groupers.
    If False: show all values for categorical groupers.
dropna : bool, default True
    If True, and if group keys contain NA values, NA values together
    with row/column will be dropped.
    If False, NA values will also be treated as the key in groups

    .. versionadded:: 1.1.0

Returns
-------
DataFrameGroupBy
    Returns a groupby object that contains information about the groups.

See Also
--------
resample : Convenience method for frequency conversion and resampling
    of time series.

Notes
-----
See the `user guide
<https://pandas.pydata.org/pandas-docs/stable/groupby.html>`__ for more.

Examples
--------
>>> df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
...                               'Parrot', 'Parrot'],
...                    'Max Speed': [380., 370., 24., 26.]})
>>> df
   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0
>>> df.groupby(['Animal']).mean()
        Max Speed
Animal
Falcon      375.0
Parrot       25.0

**Hierarchical Indexes**

We can groupby different levels of a hierarchical index
using the `level` parameter:

>>> arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
...           ['Captive', 'Wild', 'Captive', 'Wild']]
>>> index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
>>> df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
...                   index=index)
>>> df
                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0
>>> df.groupby(level=0).mean()
        Max Speed
Animal
Falcon      370.0
Parrot       25.0
>>> df.groupby(level="Type").mean()
         Max Speed
Type
Captive      210.0
Wild         185.0

We can also choose to include NA in group keys or not by setting
`dropna` parameter, the default setting is `True`:

>>> l = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
>>> df = pd.DataFrame(l, columns=["a", "b", "c"])

>>> df.groupby(by=["b"]).sum()
    a   c
b
1.0 2   3
2.0 2   5

>>> df.groupby(by=["b"], dropna=False).sum()
    a   c
b
1.0 2   3
2.0 2   5
NaN 1   4

>>> l = [["a", 12, 12], [None, 12.3, 33.], ["b", 12.3, 123], ["a", 1, 1]]
>>> df = pd.DataFrame(l, columns=["a", "b", "c"])

>>> df.groupby(by="a").sum()
    b     c
a
a   13.0   13.0
b   12.3  123.0

>>> df.groupby(by="a", dropna=False).sum()
    b     c
a
a   13.0   13.0
b   12.3  123.0
NaN 12.3   33.0
File:      ~/.local/lib/python3.8/site-packages/pandas/core/frame.py
Type:      method

In [13]:
fifteen.groupby(['DEPARTAMENTO', 'MUNICIPIO', 'GENERO']).agg('count')

                                            CODIGO DANE  ARMAS MEDIOS  \
DEPARTAMENTO MUNICIPIO           GENERO
AMAZONAS     LETICIA (CT)        FEMENINO           120           120
                                 MASCULINO           42            42
             PUERTO NARIÑO       FEMENINO             3             3
                                 MASCULINO            2             2
ANTIOQUIA    ABEJORRAL           FEMENINO             4             4
...                                                 ...           ...
VAUPÉS       MITÚ (CT)           MASCULINO            1             1
VICHADA      CUMARIBO            FEMENINO             2             2
             PUERTO CARREÑO (CT) FEMENINO            16            16
                                 MASCULINO            2             2
             SANTA ROSALÍA       FEMENINO             1             1

                                            FECHA HECHO  AGRUPA EDAD PERSONA  \
DEPARTAMENTO MUNICIPIO           GENERO
AMAZONAS     LETICIA (CT)        FEMENINO           120                  120
                                 MASCULINO           42                   42
             PUERTO NARIÑO       FEMENINO             3                    3
                                 MASCULINO            2                    2
ANTIOQUIA    ABEJORRAL           FEMENINO             4                    4
...                                                 ...                  ...
VAUPÉS       MITÚ (CT)           MASCULINO            1                    1
VICHADA      CUMARIBO            FEMENINO             2                    2
             PUERTO CARREÑO (CT) FEMENINO            16                   16
                                 MASCULINO            2                    2
             SANTA ROSALÍA       FEMENINO             1                    1

                                            CANTIDAD
DEPARTAMENTO MUNICIPIO           GENERO
AMAZONAS     LETICIA (CT)        FEMENINO        120
                                 MASCULINO        42
             PUERTO NARIÑO       FEMENINO          3
                                 MASCULINO         2
ANTIOQUIA    ABEJORRAL           FEMENINO          4
...                                              ...
VAUPÉS       MITÚ (CT)           MASCULINO         1
VICHADA      CUMARIBO            FEMENINO          2
             PUERTO CARREÑO (CT) FEMENINO         16
                                 MASCULINO         2
             SANTA ROSALÍA       FEMENINO          1

[1633 rows x 5 columns]